# PROBLEM SET 2

## Question 1

### What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [7]:
a = 0

def b():
    global a
    a = c(a)
    print(f"Output After calling b(), a = {a}") 

def c(a):
    return a + 2
b()  
b()  
b()  

print(">>> a ", a)

Output After calling b(), a = 2
Output After calling b(), a = 4
Output After calling b(), a = 6
>>> a  6

### After importing the module, the following statements are executed in sequence:

### First call to function b():
b() is called.
Inside b, global a is declared, so the global a is used.
a = c(a) is executed, where c(a) is called with the current value of a (which is 0).
#### c(0) returns 0 + 2 = 2.
Now a's value is updated to 2.

### Second call to function b():
Inside b, global a is declared again, so the global a is used.
a = c(a) is executed, where c(a) is called with the current value of a (which is now 2).
#### c(2) returns 2 + 2 = 4.
a is updated to 4.

### Third call to b():
b() is called once more.
Inside b, global a is declared again, so the global a is used.
a = c(a) is executed, where c(a) is called with the current value of a (which is now 4).
#### c(4) returns 4 + 2 = 6.
a is updated to 6.

### Final Value of a
After executing b() three times, the final value of a is:
a=6

## Question 2

### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file: exception handling

In [1]:
def fileLength(filename):
    try:
        with open(filename, 'r') as infile:
            content = infile.read()
            return len(content)
    except FileNotFoundError:
        print(f"File {filename} not found.")


print("file Length of Filelength.txt:",fileLength('Filelength.txt'))  
print(fileLength('idterm.py'))

file Length of Filelength.txt: 123
File idterm.py not found.
None

### Question 3
### Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: 
### a.extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object, 
### b.supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and 
### c. overloads the __str__ operator so it behaves as shown below.

In [14]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__() 
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"


m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  

k = Kangaroo(0, 0)
print(k)  
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

### Question 4 
### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
### x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
  ###      3𝑥+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑

### Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [16]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)  
    else:
        collatz(3 * x + 1) 


collatz(1)
print("------")
collatz(10)

1
------
10
5
16
8
4
2
1

### Question 5 
### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [7]:
def binary(n):
    
    if n < 2:
        print(n, end='') 
    else:
         
        binary(n // 2)
        
        print(n % 2, end='')

print("binary of 0 is :") 
binary(0)  
print() 
print("binary of 1 is :") 
binary(1)  
print() 
print("binary of 3 is :") 
binary(3)  
print() 
print("binary of 9 is :") 
binary(9)  
print()

binary of 0 is :
0
binary of 1 is :
1
binary of 3 is :
11
binary of 9 is :
1001

### Question 6 
### Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document.

In [22]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False
        self.heading_level = 0

    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = True
            self.heading_level = int(tag[1])

    def handle_endtag(self, tag):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            print(' ' * (self.heading_level - 1) + data.strip())

infile = open('w3c.html')
content = infile.read()
infile.close()


hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

### Question 7

In [16]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    print(' ' * indent + url)
    
    if depth == 0:
        return
    
    try:
        response = requests.get(url)
        content = response.content
        
        soup = BeautifulSoup(content, 'html.parser')
        
        links = soup.find_all('a', href=True)
        
        for link in links:
            next_url = link['href']
            if not next_url.startswith('http'):
                next_url = requests.compat.urljoin(url, next_url)
            webdir(next_url, depth - 1, indent + 2)
    except requests.exceptions.RequestException as e:
        print(f"Failed to retrieve {url}: {e}")

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test2.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test3.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

### Question 8

In [18]:
import sqlite3


conn = sqlite3.connect('weather.db')
cursor = conn.cursor()


cursor.execute('''
CREATE TABLE IF NOT EXISTS Weather (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
)
''')


data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('''
INSERT INTO Weather (City, Country, Season, Temperature, Rainfall)
VALUES (?, ?, ?, ?, ?)
''', data)

conn.commit()


cursor.execute('SELECT * FROM Weather')
rows = cursor.fetchall()
print("All the temperature data:")
for row in rows:
    print(row)
    
cursor.execute('SELECT DISTINCT City FROM Weather')
rows = cursor.fetchall()
print("All the distinct cities from table :")
for row in rows:
    print(row)

cursor.execute('SELECT * FROM Weather WHERE Country="India"')
rows = cursor.fetchall()

print("All records for India:")
for row in rows:
    print(row)
    
cursor.execute('SELECT * FROM Weather WHERE Season="Fall"')
rows = cursor.fetchall()

print("All Fall records:")
for row in rows:
    print(row)
    
query = '''
SELECT City, Country, Season
FROM Weather
WHERE Rainfall BETWEEN 200 AND 400
'''
cursor.execute(query)
results = cursor.fetchall()

print("The city, country, and season where average rainfall is between 200 and 400 mm:")
for row in results:
    print(row)

query = '''
SELECT City, Country
FROM Weather
WHERE Season = 'Fall' AND Temperature > 20
ORDER BY Temperature ASC
'''
cursor.execute(query)
results = cursor.fetchall()

print("The city and country where average Fall temperature is above 20 degrees, in increasing temperature order:")
for row in results:
    print(row)
    
query = '''
SELECT SUM(Rainfall) AS TotalAnnualRainfall
FROM Weather
WHERE City = 'Cairo'
'''

cursor.execute(query)
result = cursor.fetchone()

print("Total Annual Rainfall for Cairo:", result[0])

query = '''
SELECT Season, SUM(Rainfall) AS TotalRainfall
FROM Weather
GROUP BY Season
'''

cursor.execute(query)
results = cursor.fetchall()

for row in results:
    print(f"Season: {row[0]}, Total Rainfall: {row[1]}")

conn.close()

All the temperature data:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
All the distinct cities from table :
('Mumbai',)
('London',)
('Cairo',)
All records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
All Fall records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
The city, country, and season where average rainfall is between 200 and 400 mm:
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
The city and country where average Fall temperature is above 20 degrees, in increasing temperature order:
('Cairo', 'Egypt')
('Mumbai', 'India')
Total Annual Rainfall for Cairo: 27.6
Season: Fall, Total Rainfall: 569.0
Season: Spring, Total Rainfall: 192.29999999999998
Season: Summer, Total Rainfall: 1706.5
Season: Winter, Total Rainfall: 230.1

### Question 9
### Suppose list words is defined as follows: 
### >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
### Write list comprehension expressions that use list words and generate the following lists:

In [20]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

upper_words = [word.upper() for word in words]
print("Upper words are : ",upper_words)  

lower_words = [word.lower() for word in words]
print("Lower words are :",lower_words)  


word_lengths = [len(word) for word in words]
print("Length of the words are:",word_lengths)  

combined_info = [[word.upper(), word.lower(), len(word)] for word in words]
print("Combination of all the info:",combined_info) 

long_words = [word for word in words if len(word) >= 4]
print("the long words are: ",long_words)

Upper words are :  ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
Lower words are : ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Length of the words are: [3, 5, 5, 3, 5, 4, 3, 4, 3]
Combination of all the info: [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
the long words are:  ['quick', 'brown', 'jumps', 'over', 'lazy']